<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 600px)" href="style/css/css600.css" />
<link href="../css/nav_sytle.css" rel="stylesheet">

<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../js/nav.js"></script>
<script type="text/javascript">
    function submit() {
        var uname = jQuery("#u_name").val()
        if (uname == "") {
            alert("用户名为空")
            return
        }
        var residentialQuarter = jQuery("#residentialQuarter").text()
        if (residentialQuarter == "请输入被访人所在小区 ") {
            alert("请输入被访人所在小区 ")
            return
        }

        var buildNo = jQuery("#buildNo").text()
        if (buildNo == "请输入被访人所在楼号 ") {
            alert("请输入被访人所在楼号 ")
            return
        }

        var room = jQuery("#room").val()
        if (room == "") {
            alert("请输入被访人所在楼号")
            return
        }

        var phone = jQuery("#phone").val()
        if (phone == "") {
            alert("请输入被访人手机号")
            return
        }

        var ownername = jQuery("#ownername").val()
        if (ownername == "") {
            alert("请输入访客姓名")
            return
        }

        var identification = jQuery("#identification").val()
        if (identification == "") {
            alert("请输入访客身份证号")
            return
        }

        var ownerphone = jQuery("#ownerphone").val()
        if (ownerphone == "") {
            alert("请输入被访人手机号")
            return
        }



        var contentData = {
            "name": uname,
            "phone": phone,
            "identification": identification,
            "addr": "",
            "ownername": ownername,
            "ownerphone": ownerphone,
            "residentialQuarter": residentialQuarter,
            "buildNo": buildNo,
            "room": room,
            "nodeid": 0,
            "nodetype": 0
        }

        var post = JSON.stringify(contentData)
        $.ajax({
            type: "post",
            url: "http://119.18.207.153:8085/App/Visitor/PostVisitor",
            data: post,
            async: true,
            contentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                if (data.code == 200) {
                    window.location.href = "result_sucess.html"
                } else {
                    window.location.href = "result_fail.html" + "?message=" + data.message
                }
            },
            error: function(data) {
                window.location.href = "result_fail.html"
            }

        })
    }

    function GetCommunityDrop() {
        $.ajax({
            type: "get",
            url: "http://119.18.207.153:8085/App/Staff/GetCommunityDrop",
            async: true,
            dataType: 'json',
            success: function(data) {

                if (data.code == 200) {
                    showView(data, 1)
                } else {
                    alert(data.message)
                }

            },
            error: function(data) {
                alert(data.message)
            }
        })


    }

    function GetGetBuildDrop() {

        var content = jQuery("#residentialQuarter").text()
        if (content == "请输入被访人所在小区 ") {
            alert("请输入被访人所在小区 ")
            return
        }
        var params = 'communityId=' + xqId
        $.ajax({
            type: "get",

            url: "http://119.18.207.153:8085/App/Staff/GetBuildDrop?" + params,
            async: true,

            dataType: 'json',
            success: function(data) {

                if (data.code == 200) {
                    showView(data, 2)
                } else {
                    alert(data.message)
                }
            },
            error: function(data) {
                alert(data.message)
            }
        })


    }

    function onDissmissclick() {
        showOrdissmiss(false)
    }

    function showView(data, type) {
        debugger
        var list = data.data
        var child = "<p class='dissmiss' " + " " + "onclick=" + "'onDissmissclick()'" + ">" + '取消' + "</p>"
        var parentlayout = document.getElementById("downXq")
            // list.length
        for (var i = 0; i < list.length; i++) {
            child += "<p class='p' " + " " + "onclick=onItemclick('" + list[i].name + "," + type + "," + list[i].id + "')" + ">" + list[i].name + "</p>"
            child += "<hr color='#cccccc' size='1px'/>"
        }
        parentlayout.innerHTML = child
        showOrdissmiss(true)
    }
    var xqId = -1

    function onItemclick(ceontent) {

        var data = ceontent.split(",")
        xqId = data[2]
        if (data[1] == 1) {
            jQuery("#residentialQuarter").text(data[0])
        } else {
            jQuery("#buildNo").text(data[0])
        }

        showOrdissmiss(false)
    }

    function showOrdissmiss(isShow) {
        if (isShow == true) {
            $('.downNav').css({
                bottom: "0px",
                transition: "bottom 1s"
            });
        } else {
            $('.downNav').css({
                bottom: "-50%",
                webkitTransition: "bottom .5s",
                oTransition: "bottom .5s",
                mozTransition: "bottom .5s",
                transition: "bottom .5s"
            });
        }



    }
</script>



<head>
    <meta charset="utf-8">
    <title>访客登记</title>
    <style>
        .p {
            padding-left: 121px;
            padding-right: 121px;
            padding-top: 20px;
            text-align: center;
            padding-bottom: 20px;
            font-size: 38px;
            font-family: Source Han Sans CN;
            color: #222222;
            line-height: 60px;
        }
        
        .dissmiss {
            padding: 20px;
            text-align: center;
            font-size: 38px;
            font-family: Source Han Sans CN;
            color: #666666;
            line-height: 60px;
        }
        
        .dissmiss {
            text-align: left;
            font-size: 42px;
            color: #666666;
        }
    </style>

</head>

<body style="margin: 0px; padding: 0;">

    <div class="div">
        <p class="font1"> 被访人信息</p>
        <form class="form">
            <p class="font2" color="#FF0000 ">*</p>
            <p class="font3" color="#FF0000 ">姓 名:</p>
            <input class="input" name="u_name" id="u_name" v-model="message " placeholder="请输入被访人姓名 ">
        </form>
        <hr color="#cccccc" size="1px" />


    </div>


    <div class="div">

        <form class="form2">
            <p class="font2" color="#FF0000 ">*</p>
            <p class="font3" color="#FF0000 ">小 区:</p>
            <p onclick="GetCommunityDrop()" class="location" id="residentialQuarter">请输入被访人所在小区 </p>

        </form>
        <hr color="#cccccc" size="1px" />

    </div>

    <div class="div">

        <form class="form2">
            <p class="font2" color="#FF0000 ">*</p>
            <p class="font3" color="#FF0000 ">楼 号:</p>
            <p class="location" id="buildNo" onclick="GetGetBuildDrop()">请输入被访人所在楼号 </p>

        </form>
        <hr color="#cccccc" size="1px" />

    </div>

    <div class="div">

        <form class="form2">
            <p class="font2" color="#FF0000 ">*</p>
            <p class="font3" color="#FF0000 ">房间号:</p>
            <input class="input" id="room" id="u_fjh" v-model="message " placeholder="请输入被访人房间号 ">
        </form>
        <hr color="#cccccc" size="1px" ma/>

    </div>

    <div class="div">

        <form class="form2">
            <p class="font2" color="#FF0000 ">*</p>
            <p class="font3" color="#FF0000 ">手机号:</p>
            <input class="input" id="phone" v-model="message " placeholder="请输入被访人手机号 ">
        </form>
        <hr color="#cccccc" size="1px" />

    </div>
    <div style="background: white; height: 40px;"></div>

    <div style="background:#F5F6F7; height: 20px;"></div>
    <div class="div">
        <p class="font1"> 访客信息</p>
        <form class="form">
            <p class="font2" color="#FF0000 ">*</p>
            <p class="font3" color="#FF0000 ">姓 名:</p>
            <input class="input" id="ownername" v-model="message " placeholder="请输入访客姓名 ">
        </form>
        <hr color="#cccccc" size="1px" />

    </div>

    <div class="div">

        <form class="form2">
            <p class="font2" color="#FF0000 ">*</p>
            <p class="font3" color="#FF0000 ">身份证:</p>
            <input class="input" id="identification" v-model="message " placeholder="请输入访客身份证号 ">
        </form>
        <hr color="#cccccc" size="1px" />

    </div>
    <div class="div">

        <form class="form2">
            <p class="font2" color="#FF0000 ">*</p>
            <p class="font3" color="#FF0000 ">手机号:</p>
            <input class="input" id="ownerphone" v-model="message" placeholder="请输入被访人手机号 ">
        </form>
        <hr color="#cccccc" size="1px" />

    </div>
    <div style="background: white; height: 40px;"></div>
    <p class="p">
        请来访人员出入社区及单位进行自主填表申请授权。个人信息将受严格保护，不会对外泄露，请如实填写。
    </p>
    <div style="text-align: center; margin-bottom: 60px;">
        <button class="button" onclick="submit()">提交</button>
    </div>

    <div class="downNav" id="downXq">


    </div>

</body>

</html>